
.parent{
    width: 100%;
    z-index: 1;
    background-color: #EEF2F7;
}

.navBar {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}

.titlesite{
    color: coral;
    font-family: sans-serif;
}